<!-- просмотр заказов групп по группам -->
<p id="notice"><%= notice %></p>

<h1>Просмотр оформленных заказов групп</h1>

<table class="table table-border table-hover">
  <thead>
    <tr>
      <th>Название группы</th>
      <th>Члены группы</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member.each do |member| %>
      <tr>
        <td><%= member.group.name %></td>
        <td>
          <% member.group.members.each do |item| %>
            <%= item.user.name + '  ' %>
          <% end %>
        </td>
        <td>
          <% if member.group.group_orders %>
            <% member.group.group_orders.each do |order| %>
              <%= link_to 'Просмотр заказа ID: ' + order.id.to_s, group_order_path(group_id: member.group.id, id: order.id ) %><br/>
            <% end %>
          <% else %>
            <p>у этой группы нет оформленных заказов</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Назад', :back %>
