<h3>Данные Вашего заказа:</h3>

<p>
  <strong>Номер заказа:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Почта:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Комментарии:</strong>
  <%= @order.notice %>
</p>

<p>
  <strong>Тип оплаты:</strong>
  <%= @order.pay_type %>
</p>

Заказано:
<br/>
<%= render partial: 'single_orders/line_item', collection: @order.line_items, as: 'line_item' %>
-------------<br/>
Итого: <%= my_number_to_currency(@order.price) %><br/>

<%= link_to 'На главную', root_path %>

